# =========================
# VBA / Excel Project
# =========================

# VBA формы (бинарники)
*.frx

# Конкретные модули
ADD_VBA_Dump.bas

# Excel файлы
*.xls
*.xlsx
*.xlsm
*.xlsb

# Временные файлы Excel
~$*

# Папки экспорта/временные
vba/
temp/
export/

# Windows мусор
Thumbs.db
Desktop.ini
